$blue-mid: #20a0cf;
$blue-light: #14d9c4;
$shadow: #999;

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  width: 17rem;
  border-radius: 0.5rem;
  background-color: $blue-mid;
  border: 0.1875rem solid $blue-light;
  &:hover {
    box-shadow: 3px 3px 3px 3px #ccff00;
    transform: scale(1.03);
    transition: box-shadow 0.2s;
  }
}

.card__img {
  width: 100%;
}

.card__title {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1.8rem;
  color: white;
}

.card__description {
  display: block;
  margin: 0;
  padding: 0.3rem 1rem;
  font-size: 1rem;
  color: white;
}

.card_detail {
  padding: 1em 1em;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  max-width: 60rem;
  border-radius: 0.5rem;
  background-color: $blue-mid;
  border: 0.1875rem solid $blue-light;
  overflow: hidden;
  transition: 0.25s all;
}

.label {
  display: block;
  margin: 0.5rem 0.5rem 0.5rem;
  padding: 0.25rem 1rem;
  padding: 0.25rem 0.8rem;
  background-color: $blue-mid;
  border: none;
  border-radius: 0.25rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.App {
  background-color: black;
  height: 100%;
}

.background {
  position: relative;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

li {
  list-style: none;
  font-size: 1rem;
  line-height: 2rem;
  color: white;
}

.Header {
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 20px;
}

.btn {
  height: 2em;
  width: 15em;
  border-radius: 0.75em;
  margin-top: 2%;
  margin-left: 1%;
  color: grey;
  background-color: $blue-light;
  box-shadow: 6px 6px 4px $shadow;
  &:hover {
    background-color: $blue-mid;
    height: 2em;
    box-shadow: 3px 3px 4px $shadow;
    color: #d8d8d8;
    transition: background-color 0.2s, box-shadow 0.2s;
  }
}
